/*=============================================================================================== */
/*    GENERAL =================================================================================== */
/*=============================================================================================== */
@brand: #137ba6;
@brand-hover: #005c87;

.left{
	float: left;
}
.right{
	float: right;
}
.section{
	padding: 20px 0px;
}
.btn1{
	background: none repeat scroll 0 0 @brand;
	color: #ffffff;
	padding: 4px 50px;
	border-radius: 20px;
	margin: 15px 0px;
	font-size: 14px;
	border: none;
	&:hover{
		background-color: @brand-hover;
	}
}
/*=============================================================================================== */
/*   AJAX  ====================================================================================== */
/*=============================================================================================== */
.ajax-content{
	display: none;
}
#loader{
	height: 32px;
	width: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	background: url(../images/loader.gif) no-repeat center center; 
}
/*=============================================================================================== */
/*    HEADER  =================================================================================== */
/*=============================================================================================== */
.header{
	background: url(../images/background_h.gif) repeat-x 0px 0px;
}

/*=============================================================================================== */
/*    USER DISPLAY PLATE  ======================================================================= */
/*=============================================================================================== */
.user{
	.photo{
		float: left;
		padding-right: 20px;
	}
	h2{
		color: @brand;
		font-size: 20px;
		span{
			font-size: 10px;
			color: #999;
			display: inline-block;
		}
	}
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			padding: 2px 0px;
			strong{
				padding-right: 2px;
			}
			&.name{
				font-size: 18px;
			}
		}
	}
}